@import url('https://fonts.googleapis.com/css2?family=Padauk&display=swap');
/* font-family: 'Padauk', sans-serif; */



table, th, td{
    border: 2px solid;
    border-collapse: collapse;
    overflow: auto; 
}

table {
    margin-top: 50px;
    
}

body {

    background-color: #edde8b;
}

header {
    width: 600px;
    margin: 0 auto;
}

header ul > li {
    font-family: 'Padauk', sans-serif;
}

h1 {
    font-family: 'Padauk', sans-serif;

}

#parent-container {
    display: grid;
}